<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.joao.plantdoctor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plantdoctor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plantdoctor_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantdoctor"
        android:usesCleartextTraffic="true"
        tools:targetApi="23">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RecoveryActivity" />

        <activity
            android:name=".CreateNewPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="plantdoctor" android:host="reset-password" />
            </intent-filter>
        </activity>

    </application>

</manifest>