<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plantdoctor"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/plantdoctor_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantdoctor"
        android:usesCleartextTraffic="true"
        tools:targetApi="23">

        <!-- MainActivity continua a ser a tela de arranque (Splash) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ✅ NOVA HOME ACTIVITY DECLARADA AQUI -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".CultureSelectionActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ManageCulturesActivity"
            android:exported="false" />

        <activity
            android:name=".RecoveryActivity"
            android:exported="false" />

        <activity
            android:name=".CreateNewPasswordActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="reset-password"
                    android:scheme="plantdoctor" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CultureDetailsActivity"
            android:exported="false"
            android:label="Detalhes da Cultura"
            android:parentActivityName=".HomeActivity" />

    </application>

</manifest>
